.grid {
  display: flex; 
  flex-wrap: wrap; 
  flex-grow: 1;
  justify-content: center; 
  gap: 2rem; 
  padding: 1rem;
}

@media (max-width: 767.98px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }
}