.somaContainer {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 1.5rem;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--secondary-color); 
  padding-bottom: 5px;
}

.resultado {
  font-size: 1.2rem; 
  color: #007bff; 
  font-weight: bold;
  margin: 0;
}