.card {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 20vw;
  height: 50vh;
  transition: transform 0.2s ease;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  gap: 1rem;
} 

.icon {
  width: 2vw;
  height: 4vh;
  object-fit: cover;
}


.content {
  padding: 2rem;
}

.title {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.description {
  font-size: 0.9rem;
  color: #555;
}