.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: #333;
}
.form h3 {
  margin-top: 0;
  text-align: center;
}
.input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.button {
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: #535bf2;
}